/* Styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: #293544;
  margin: 0 auto;
  background-color: #fafafa;
}

.main-menu {
  position: absolute;
  width: 385px;
  left: 0;
  right: 0;
  top: 5px;
  margin: auto;
}

.headerListItem {
  margin-right: 40px;
}

.requiredField label::after {
  content: '*';
  font-size: 12px;
  color: red;
  position: relative;
  top: -3px;
}

.highlight {
  background: #fd5a1e;
  color: #fff;
  padding: 0 1px;
  margin: 0 1px;
  border-radius: 2px;
}

.table-div {
  max-width: 1200px;
  margin: 20px auto;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #ddd;
}

.grade {
  font-weight: 600;
  font-size: 14px;
}
